/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */

@font-face {
    font-family: OpenSans-Regular;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: OpenSans-Regular, sans-serif;
}

a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
}

.header {
    position: relative;
    z-index: 0;

    padding-bottom: 125px;

    text-transform: uppercase;
    color: #ffffff;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background-color: black;
    opacity: 50%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.logo {
    padding-left: 2px;
}

.header-menu-inner {
    padding-top: 13px;
    padding-right: 1px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu-item {
    font-size: 13px;
}

.header-menu-item:nth-child(1n+2) {
    margin-left: 35px;
}

.header-title {
    max-width: 700px;
    margin-top: 99px;
    margin-left: auto;
    margin-right: auto;

    font-size: 45px;
    line-height: 1.7;
    font-family: OpenSans-Bold, sans-serif;
    text-align: center;
}

.page {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 62px;

    color: #0f0d0e;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 778px;
    margin-bottom: 61px;
}

.post:last-child {
    margin-bottom: 0;
}

.post-image {
    background-color: black;
}

.post-content {
    width: 367px;
}

.post-header {
    text-transform: uppercase;
}

.tags-list {
    display: flex;
}

.tags-item {
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    font-family: OpenSans-Bold, sans-serif;

    color: #b59f5b
}

.tags-item:nth-child(1n+2) {
    margin-left: 18px;
}

.post-title {
    margin-top: 8px;
    margin-bottom: 25px;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    font-family: OpenSans-Bold, sans-serif;
}

.post-meta {
    display: flex;
    flex-wrap: nowrap;

    text-transform: none;
}

.post-date {
    margin-right: 11px;

    font-size: 12px;
    color: #888888;
}

.post-author {
    font-size: 12px;
    font-family: OpenSans-Bold, sans-serif;
}

.desc {
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.4;
}

.desc > p:nth-child(1n+2) {
    margin-top: 12px;
}

.sidebar {
    width: 272px;
}

.sidebar-item-title {
    font-size: 14px;
    line-height: 1.1;
    font-family: OpenSans-Bold, sans-serif;

    text-align: center;
    text-transform: uppercase;
}

.sidebar-item-title::after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 66px;
    height: 3px;
    margin: 13px auto 0;

    background-color: #b59f5b;
}

.new-post-list {
    margin-top: 26px;
}

.new-post-inner {
    display: flex;
    margin-bottom: 22px;
}

.new-post-image {
    background-color: black;
}

.new-post-header {
    margin-left: 20px;
}

.new-post-date {
    display: block;
    margin-top: 0;
    margin-right: 12px;
    padding: 0;

    font-size: 12px;
    line-height: 1.0;
    color: #888888;
}

.new-post-title {
    margin-top: 4px;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
}

.search-widget {
    display: flex;
    margin-top: 59px;

}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search {
    width: 222px;
    height: 50px;
    padding-left: 18px;

    tab-size: 13px;

    background-color: #f4f7f6;
    border: none;
}

.search:focus {
    outline: 1px solid #b59f5b;
}

.search-btn {
    width: 50px;
    height: 50px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    background-size: 18px 18px;
}

.mailing-widget {
    margin-top: 60px;
}

.mailing {
    width: 100%;
    height: 50px;
    padding-left: 18px;
    margin-top: 20px;

    tab-size: 13px;

    background-color: #f4f7f6;
    border: none;
}

.mailing:focus {
    outline: 1px solid #b59f5b;
}

.mailing-btn {
    width: 100%;
    height: 50px;
    margin-top: 16px;

    font-size: 14px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #b59f5b;
}

.tags-widget {
    margin-top: 58px;
}

.tags-inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

.tag-item {
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 3px 12px;

    font-size: 12px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;

    border: 3px solid #eeeeee;
}

.themes-widget {
    margin-top: 53px;
}

.themes-inner {
    margin-top: 11px;
}

.theme-item {
    display: flex;

    height: 45px;
    padding: 10px 0;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 2px;
}

.theme-index {
    margin-left: 5px;

    font-family: OpenSans-Bold, sans-serif;
    font-size: 12px;
    color: #b59f5b;
}

.footer {
    height: 250px;
    padding-top: 64px;
}

.footer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;

    background-color: #f3f7f6;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list-item {
    margin: 0 13px;
}

.twitter-link {
    display: block;
    width: 21px;
    height: 21px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
}

.pinterest-link {
    display: block;
    width: 21px;
    height: 21px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
}

.facebook-link {
    display: block;
    width: 21px;
    height: 21px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
    background-size: 100%;
}

.instagram-link {
    display: block;
    width: 21px;
    height: 21px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
}

.tumblr-link {
    display: block;
    width: 21px;
    height: 21px;

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.copyright {
    display: block;
    margin-top: 70px;
    margin-bottom: 20px;

    text-align: center;
    font-size: 12px;
    font-family: OpenSans-Bold, sans-serif;

    color: #999999;
}